<!-- <div class="container">
  <h2>Experiências</h2>
  @for(item of arrayExperiences(); track item;){
  <details>
    <summary>
      <p>
        <strong> {{ item.summary.strong }} </strong>
        {{ item.summary.p }}
      </p>
    </summary>
    <article [innerHTML]="item.text"></article>
  </details>
  }
</div> -->
<div class="container">
  <h2>Experiências</h2>
  <ul>
    @for(item of arrayExperiences(); track item){
    <li>
      <button (click)="openDialog(item)">
        <p class="itemSortTitle">{{ item.summary.strong }}</p>
        {{ item.summary.p }}
      </button>
    </li>
    }
  </ul>
</div>