:root{
    --primary: #2fbf71;
    --primary-010: #21804d;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;
    
    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

    --p01: #252C36;
    --p02: #363f4d;
    --p03: #B3CCD5;
    --p04: #E4E4EC;
    --p05: #38BCEE;
    --p06: #152341;
    --p07: #86A7AD;
    --p08: #832a25;

    --s01: #237796;
}